USE [master]
GO
/****** Object:  Database [BDCOMERCIOSA]    Script Date: 6/02/2022 00:35:31 ******/
CREATE DATABASE [BDCOMERCIOSA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDCOMERCIOSA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDCOMERCIOSA.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDCOMERCIOSA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDCOMERCIOSA_log.ldf' , SIZE = 7040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDCOMERCIOSA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDCOMERCIOSA]
GO
/****** Object:  Schema [Compras]    Script Date: 6/02/2022 00:35:35 ******/
CREATE SCHEMA [Compras]
GO
/****** Object:  Schema [RRHH]    Script Date: 6/02/2022 00:35:35 ******/
CREATE SCHEMA [RRHH]
GO
/****** Object:  Schema [Ventas]    Script Date: 6/02/2022 00:35:35 ******/
CREATE SCHEMA [Ventas]
GO
/****** Object:  Table [Compras].[categorias]    Script Date: 6/02/2022 00:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[categorias](
	[IdCategoria] [int] NOT NULL,
	[NombreCategoria] [varchar](15) NOT NULL,
	[Descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Compras].[productos]    Script Date: 6/02/2022 00:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[productos](
	[IdProducto] [int] NOT NULL,
	[NomProducto] [varchar](40) NOT NULL,
	[IdProveedor] [int] NULL,
	[IdCategoria] [int] NULL,
	[CantxUnidad] [varchar](20) NOT NULL,
	[PrecioUnidad] [decimal](10, 0) NOT NULL,
	[UnidadesEnExistencia] [smallint] NOT NULL,
	[UnidadesEnPedido] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Compras].[proveedores]    Script Date: 6/02/2022 00:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[proveedores](
	[IdProveedor] [int] NOT NULL,
	[NomProveedor] [varchar](40) NOT NULL,
	[DirProveedor] [varchar](60) NOT NULL,
	[NomContacto] [varchar](80) NOT NULL,
	[CargoContacto] [varchar](50) NOT NULL,
	[idpais] [char](3) NULL,
	[fonoProveedor] [varchar](15) NOT NULL,
	[FaxProveedor] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RRHH].[Cargos]    Script Date: 6/02/2022 00:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RRHH].[Cargos](
	[idcargo] [int] NOT NULL,
	[desCargo] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idcargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RRHH].[Distritos]    Script Date: 6/02/2022 00:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RRHH].[Distritos](
	[idDistrito] [int] NOT NULL,
	[nomDistrito] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RRHH].[empleados]    Script Date: 6/02/2022 00:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RRHH].[empleados](
	[IdEmpleado] [int] NOT NULL,
	[ApeEmpleado] [varchar](50) NOT NULL,
	[NomEmpleado] [varchar](50) NOT NULL,
	[FecNac] [datetime] NOT NULL,
	[DirEmpleado] [varchar](60) NOT NULL,
	[idDistrito] [int] NULL,
	[fonoEmpleado] [varchar](15) NULL,
	[idCargo] [int] NULL,
	[FecContrata] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[clientes]    Script Date: 6/02/2022 00:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[clientes](
	[IdCliente] [varchar](5) NOT NULL,
	[NomCliente] [varchar](40) NOT NULL,
	[DirCliente] [varchar](60) NOT NULL,
	[idpais] [char](3) NULL,
	[fonoCliente] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[paises]    Script Date: 6/02/2022 00:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[paises](
	[Idpais] [char](3) NOT NULL,
	[NombrePais] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idpais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[pedidoscabe]    Script Date: 6/02/2022 00:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[pedidoscabe](
	[IdPedido] [int] NOT NULL,
	[IdCliente] [varchar](5) NULL,
	[IdEmpleado] [int] NULL,
	[FechaPedido] [datetime] NOT NULL,
	[FechaEntrega] [datetime] NULL,
	[FechaEnvio] [datetime] NULL,
	[EnvioPedido] [char](1) NULL,
	[CantidaPedido] [int] NULL,
	[Destinatario] [varchar](40) NULL,
	[DirDestinatario] [varchar](60) NULL,
	[CiuDestinatario] [varchar](60) NULL,
	[RefDestnatario] [varchar](60) NULL,
	[DepDestinatario] [varchar](60) NULL,
	[PaiDestinatario] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[pedidosdeta]    Script Date: 6/02/2022 00:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[pedidosdeta](
	[IdPedido] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[PrecioUnidad] [decimal](10, 0) NOT NULL,
	[Cantidad] [smallint] NOT NULL,
	[Descuento] [float] NOT NULL,
 CONSTRAINT [PK_pedidosdeta] PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ventas].[pedidoscabe] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [Ventas].[pedidoscabe] ADD  DEFAULT ('0') FOR [EnvioPedido]
GO
ALTER TABLE [Compras].[productos]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [Compras].[categorias] ([IdCategoria])
GO
ALTER TABLE [Compras].[productos]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [Compras].[proveedores] ([IdProveedor])
GO
ALTER TABLE [Compras].[proveedores]  WITH CHECK ADD FOREIGN KEY([idpais])
REFERENCES [Ventas].[paises] ([Idpais])
GO
ALTER TABLE [RRHH].[empleados]  WITH CHECK ADD FOREIGN KEY([idCargo])
REFERENCES [RRHH].[Cargos] ([idcargo])
GO
ALTER TABLE [RRHH].[empleados]  WITH CHECK ADD FOREIGN KEY([idDistrito])
REFERENCES [RRHH].[Distritos] ([idDistrito])
GO
ALTER TABLE [Ventas].[clientes]  WITH CHECK ADD FOREIGN KEY([idpais])
REFERENCES [Ventas].[paises] ([Idpais])
GO
ALTER TABLE [Ventas].[pedidoscabe]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [Ventas].[clientes] ([IdCliente])
GO
ALTER TABLE [Ventas].[pedidoscabe]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [RRHH].[empleados] ([IdEmpleado])
GO
ALTER TABLE [Ventas].[pedidosdeta]  WITH CHECK ADD  CONSTRAINT [FK__pedidosde__IdPed__2A4B4B5E] FOREIGN KEY([IdPedido])
REFERENCES [Ventas].[pedidoscabe] ([IdPedido])
GO
ALTER TABLE [Ventas].[pedidosdeta] CHECK CONSTRAINT [FK__pedidosde__IdPed__2A4B4B5E]
GO
ALTER TABLE [Ventas].[pedidosdeta]  WITH CHECK ADD  CONSTRAINT [FK__pedidosde__IdPro__2B3F6F97] FOREIGN KEY([IdProducto])
REFERENCES [Compras].[productos] ([IdProducto])
GO
ALTER TABLE [Ventas].[pedidosdeta] CHECK CONSTRAINT [FK__pedidosde__IdPro__2B3F6F97]
GO
USE [master]
GO
